header {
  display: block;  
  background-color: #555;
  padding: 15px;
} 

section {
  display: block;
  min-width: 650px; 
}

header a#logo {
  color: white;
}

header a#logo:hover {
}

header a#logo img {

}

header a#logo img:hover {
  opacity: 0.8;
}

header nav {
  margin-top: 5px;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
}

header nav a:hover {
  color: #ddd;
  border-bottom: 2px solid orange;
}